.ShopMenu {
  width: 685px;
  height: 340px;
  padding: 30px;
  margin-top: 35px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000f;
  position: absolute;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ShopMenu .Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ShopMenu .Head .Title a {
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
}

.ShopMenu .Head .CloseBtn svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.ShopMenu .Categories {
  margin-top: 10px;
}

.ShopMenu .Categories ul {
  margin: 0;
  height: 240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ShopMenu .Categories li {
  margin: 5px 0;
}

.ShopMenu .Categories a {
  color: #222;
}

.ShopMenu .Categories a:hover {
  color: #3E9538;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 129px;
  z-index: 8;
}
