.Btn {
  width: auto;
  padding: 12px 20px;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  transition: all ease 0.3s;
}

.Btn span {
  margin-left: 10px;
}

.Primary {
  background-color: #378532;
}

.Primary:hover {
  background-color: #2B6827;
  color: #fff;
}

.Secondary {
  color: #378532;
  background-color: #C5E8C3;
}

.Secondary:hover {
  background-color: #C5E8C3;
}

.Default {
  color: #000;
  background-color: #9BD798;
}

.Btn[disabled] {
  opacity: 0.3;
}

.Success {
  background-color: #28c76f;
}

.W100 {
  width: 100% !important;
}

.Info {
  color: #fff;
  background-color: #00cfe8;
}

.InfoM {
  height: 32px;
  padding: 0 10px;
  border-radius: 7px;
  color: #fff;
  background-color: #00cfe8;
  font-size: 12px;
  text-transform: none;
}

.Loading {
  cursor: default;
}

.LdsRing {
  display: inline-block;
  width: 16px;
  height: 16px;
  z-index: 9999;
  left: 0;
  right: 0;
}

.LdsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.LdsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.LdsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.LdsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
