.OrdersWrapper {
  background-color: #f1f3f6;
}

.Container {
  display: flex;
}

.Content {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.PageHeader {
  display: flex;
  justify-content: space-between;
}

.Content h1 {
  margin-top: 0;
  font-size: 22px;
}

.Orders a {
  display: block;
  transition: all ease 0.3s;
}

.Orders a + a {
  margin-top: 30px;
}

.Orders a:hover {
  color: #222;
  box-shadow: 0px 4px 6px #00000012;
}

.Order {
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}

.Orders a:hover .Order {
  border: 1px solid #fff7ea;
}

.Overview {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  transition: all ease 0.3s;
}

.Orders a:hover .Overview {
  background-color: #fff0ab;
}

.Overview > div > div {
  padding: 5px 0;
}

.Overview span {
  width: 130px;
  display: inline-block;
  font-weight: 600;
}

.OrderDetails {
  display: flex;
  padding: 10px;
}

.Description {
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.OrderDetails img {
  width: 110px;
  border-radius: 3px;
}

.OrderDetails h2 {
  margin: 0;
  font-size: 16px;
}

.OrderDetails h3 {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 400;
}

.Details > div {
  margin: 4px 0;
}

.Details span {
  width: 140px;
  display: inline-block;
  font-weight: 600;
}

.ShippingAddress {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ShippingAddress > div:first-child {
  margin-bottom: 10px;
  font-weight: 600;
}

.Address {
  margin-bottom: 10px;
}

.shippingNo {
  display: flex;
}

.shippingNo div:first-child {
  width: 150px;
  font-weight: 600;
}
