.ShippingAndReturns {
    min-height: 600px;
}

.ShippingAndReturns h2 {
    font-size: 26px;
}

.ShippingAndReturns h3 {
    margin-top: 30px;
    font-size: 18px;
}

.ShippingAndReturns ul {
    padding-left: 15px;
}

.ShippingAndReturns ul li {
    list-style-type: decimal;
}

.ShippingAndReturns ul li + li {
    margin-top: 25px;
}