.Categories {
  margin-top: 10px;
}

.Categories ul {
  height: 240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Categories li {
  margin: 5px 0;
}

.Categories a:hover {
  color: #03956e;
}
