@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url(vendors/normalize.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #222;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

.container {
  width: 1460px;
  margin: 0 auto;
}

.page-wrapper {
  padding: 150px 0 70px;
}

p {
  margin: 0 0 12px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #0A0A5F;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.page-content {
  padding-top: 140px;
}

/* Form */
.form-container {
  margin: 0 -12px;
}

.form-container .form-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.form-container .form-group {
  width: 50%;
  min-height: 100px;
  padding: 10px 12px;
  position: relative;
}

.form-container.w100 .form-group {
  width: 100%;
}

.form-container .form-actions {
  width: 50%;
  padding: 0 12px;
  display: flex;
}

.form-container .form-actions button + button {
  margin-left: 8px;
}

.form-container.modal-form .form-group {
  width: 100%;
}

.form-container.modal-form {
  padding: 10px 0;
}

.form-container.modal-form .form-actions {
  width: 100%;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox .control-label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

.checkbox input {
  margin-right: 10px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid #0A0A5F;
  background-color: transparent;
}

.checkbox input:checked ~ .checkmark {
  background-color: #0A0A5F;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-control {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.16);
}

.form-control:focus,
.form-control:active,
.form-control:hover {
  outline: none;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 5px;
  text-align: left;
}

table th {
  padding: 15px 5px;
  text-transform: uppercase;
  color: #222;
  font-size: 12px;
  font-weight: 600;
}

table th span {
  width: 20px;
  display: inline-block;
}

table thead,
table tbody tr + tr {
  border-bottom: 1px solid #f7f7f7;
}

table tbody {
  color: #444;
}

table tbody tr {
  height: 43px;
  transition: background-color ease 0.3s;
}

table tbody tr:hover {
  background-color: #fafafa;
}

table tbody tr button {
  margin-right: 10px;
  height: 30px !important;
  font-size: 12px !important;
}

/* Pagination */
.pagination {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3E56FE;
  background-color: #fff;
  border: 1px solid #eee;
  cursor: default;
}

.pagination .page-item:not(:disabled):not(.disabled) .page-link {
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  background-color: #0A0A5F;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  opacity: 0.4;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  font-weight: 600;
}
