.Home .SubHeader {
  width: 100%;
  margin-top: 85px;
  background: #01216A;
  position: fixed;
  z-index: 9;
}

.Home .SubHeader > div {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .SubHeader h1 {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.MainSlider {
  height: 597px;
}

.Home .SubTitle {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home .SubTitle h2 {
  margin: 0;
  font-size: 26px;
  color: #00A1E0;
}

.Home .Intro {
  padding: 30px 0;
  margin-top: -5px;
  background-image: url("/assets/imgs/honey-bg.jpg");
  background-size: auto 100%;
}

.Home .Intro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .Intro h2 {
  font-size: 62px;
  line-height: 90px;
  text-align: center;
  font-weight: 700;
  color: #00A1E0;
}

.Home .Intro h3,
.Home .Intro h3 a {
  text-align: center;
  font-size: 42px;
  line-height: 54px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #00A1E0;
}

.Home .Intro h3 a {
  text-decoration: underline;
}

.Home .Intro .Countries {
  margin: 40px 0;
  display: flex;
}

.Home .Message {
  background-color: #00A1E0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .Message h3 {
  margin: 0;
  font-size: 2.7em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

/* Featured Categories */
.FeaturedCategories {
  margin-top: 100px;
}

/* Bestsellers */
.BestSellers {
  margin-top: 60px;
  margin-bottom: 60px;
}

.BestSellers .ListItems > div,
.NewProducts .ListItems > div {
  margin: 0 -13px;
}

.BestSellers .ListItems > div > div,
.NewProducts .ListItems > div > div {
  margin: 0 13px 18px;
}

.Products {
  margin: 0 -10px;
  display: flex;
}

.Products .Product {
  width: 230px;
  height: 380px;
  margin: 0 10px;
  box-shadow: 0px 3px 6px #00000012;
  border-radius: 4px;
  transition: all ease 0.3s;
}

.Products .Product:hover {
  box-shadow: 0px 10px 8px #00000012;
}

.Products .Product .Image {
  height: 250px;
  overflow: hidden;
}

.Products .Product .Image img {
  width: 100%;
}

.Products .Product .Desc {
  padding: 10px;
}

.Products .Product .Desc .Name {
  height: 90px;
}

.Products .Product h3 {
  margin: 0;
  font-size: 14px;
}

.Products .Product h4 {
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.Products .Product .Login span {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.WhyUs {
  margin-top: 60px;
}

.WhyUs .SubTitle {
  margin-top: 80px;
}

.WhyUs .Overview {
  padding: 20px 0;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.WhyUs .Overview > div {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #01216A;
}

.WhyUs .Overview > div + div {
  border-left: 1px solid #ccc;
}

.WhyUs .Overview div > div > div:first-child {
  font-size: 42px;
}

.WhyUs .Overview div > div:last-child {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}

.WhyUs .Content {
  padding: 30px;
  background-color: #00A1E0;
  border-radius: 5px;
  color: #fff;
}

.WhyUs .Content span {
  font-weight: 600;
  color: #01216A;
}

.WhyUs p {
  font-size: 20px;
  line-height: 38px;
}

.Cetificates {
  margin: 40px 0;
}

.Cetificates ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
