.SignUp {
  min-height: 600px;
}

.SignUp h1 {
  font-size: 25px;
}

.Notes {
  width: 780px;
  padding: 20px;
  margin-top: 30px;
  background-color: #fff7ea;
  border-top: 5px solid #03956e;
}

.SignUpFormWrapper {
  width: 800px;
  margin-top: 40px;
}

.SignUpFormWrapper .FormBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
