.SignUp {
  min-height: 600px;
}

.SignUp h1 {
  font-size: 25px;
}

.Notes {
  width: 780px;
  padding: 20px;
  margin-top: 30px;
  background-color: #ebebeb;
  border-top: 5px solid #0000b2;
}

.Notes a {
  text-decoration: underline;
  color: #0000b2;
}

.ResendSuccess {
  display: flex;
  align-items: center;
}

.ResendSuccess svg {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  color: #0000b2;
}

.SignUpFormWrapper {
  width: 800px;
  margin-top: 40px;
}

.SignUpFormWrapper .FormBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
