.Radio {
  width: 100%;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
}

.Radio .ControlLabel {
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.Radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.Radio .Checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 80%);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.Radio .Checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.Radio input:checked~.Checkmark {
  background-color: #0000B2;
  border-color: #0000B2;
}

.Radio input:checked~.Checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.Radio .Checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}