.LoginBtn {
    padding: 10px;
    border-top: 2px solid #0A0A5F;
    background-color: #ebebeb;
}

.LoginBtn p {
    margin: 0;
}

.LoginBtn span,
.LoginBtn a {
    color: #0A0A5F;
    text-decoration: underline;
    cursor: pointer;
}