.LoginBtn {
    padding: 10px;
    border-top: 2px solid #0000b2;
    background-color: #fff0ab;
}

.LoginBtn p {
    margin: 0;
}

.LoginBtn span,
.LoginBtn a {
    color: #0000b2;
    text-decoration: underline;
    cursor: pointer;
}