.Footer {
  color: #fff;
  background-color: #0000b2;
}

.Footer .ContentWrapper {
  padding: 20px 15px 40px;
  margin: 0 -10px;
  display: flex;
}

.Footer .ContentWrapper > div {
  padding: 0;
  flex-grow: 1;
}

.Footer h4 {
  font-size: 18px;
}

.Footer a {
  color: #fff;
}

.About {
  margin-top: 20px;
}

.Footer .Menu ul li + li {
  margin-top: 20px;
}

.Footer .Menu ul li a {
  font-size: 14px;
}

.Contact div + div {
  margin-top: 20px;
}

.Contact span {
  margin-top: 10px;
  display: block;
}

.Contact span.Title {
  font-weight: 600;
}

.Contact .ContactNo span + span {
  margin-top: 5px;
}

.Terms {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-top: 1px dotted #FFF0AB;
}

.Terms > div {
  display: flex;
  justify-content: space-between;
}

.Terms ul {
  margin: 0 -20px;
  display: flex;
}

.Terms ul li {
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.Terms ul li + li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
}

.Terms ul li a {
  margin-left: 20px;
}

.Terms > div:last-child {
  cursor: pointer;
}

.SocialMedia {
  margin-top: 30px;
}

.SocialMedia ul {
  display: flex;
}

.SocialMedia ul li {
  margin: 0 10px;
}

.SocialMedia ul li svg {
  font-size: 20px;
}

.NewsLetter p {
  margin-bottom: 0;
}

.FormWrapper form {
  display: flex;
  flex-direction: column;
}
