.Footer {
  padding: 50px 0;
  background-color: #378532;
  color: #fff;
}

.Footer .ContentWrapper {
  margin: 0 -40px;
  display: flex;
}

.Footer .ContentWrapper > div {
  padding: 0 40px;
  flex-grow: 1;
}

.Footer h4 {
  font-size: 18px;
}

.Footer a {
  color: #fff;
}

.About {
  margin-top: 20px;
}

.About .Terms {
  margin-bottom: 8px;
}

.About .Terms ul {
  margin: 0 -20px;
  display: flex;
}

.About .Terms ul li {
  padding: 0 20px;
}

.Footer .Terms ul li + li {
  border-left: 1px solid #fff;
}

.Footer .Menu ul li + li {
  margin-top: 20px;
}

.Footer .Menu ul li a {
  font-size: 14px;
}

.Contact div + div {
  margin-top: 20px;
}

.Contact div span {
  width: 200px;
  display: inline-block;
  font-weight: 600;
}
