.PageContent {
  display: flex;
  align-items: flex-start;
}

.Product {
  width: 75%;
  display: flex;
}

.ProductImage {
  width: 400px;
}

.ProductImage img {
  width: 100%;
}

.ProductDetails {
  width: calc(100% - 400px);
  padding: 0 20px;
}

.ProductDetails h1 {
  margin: 0;
  font-size: 24px;
}

.ProductDetails h2 {
  margin: 10px 0 0;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

.Intro {
  margin: 20px 0 10px;
}

.Intro > div {
  margin-top: 10px;
}

.Intro span {
  font-weight: 600;
}

.LoginRegister {
  margin-bottom: 30px;
}

.PurchaseWrapper {
  margin-bottom: 30px;
}

.HtmlContent p {
  margin: 0;
}

.HtmlContent p + p {
  margin-top: 10px;
}

.HtmlContent ul {
  padding-left: 12px;
}

.HtmlContent ul li {
  list-style-type: inherit;
  line-height: 22px;
}

.HtmlContent ul li + li {
  margin-top: 10px;
}

.Applications {
  margin-top: 40px;
}

.Highlights {
  margin-top: 40px;
}

.Documents {
  width: 25%;
  padding: 15px;
  border-radius: 4px;
  background-color: #0A0A5F;
  color: #fff;
}

.Documents h3 {
  margin: 0 0 10px;
}

.Documents ul li + li {
  margin-top: 10px;
}

.Documents ul li a {
  color: #fff;
}

.Documents ul li a:hover {
  text-decoration: underline;
}

.ProductCertifications {
  margin-top: 40px;
}

.ProductEnquiry {
  margin-top: 50px;
}
